.ResetButton {
    color: white;
    border: 1px solid green;
    background: green;
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
}
.ResetButton:hover {
    background: lightgreen;
    cursor: pointer;
    color: green;
}